#half-page {
  background: rgb(99, 111, 101);
  /* border-radius: 50% 20% / 10% 40%; */
  /* margin-left: 0px; */
  /* margin-top: 40px;
  margin-bottom: 40px;  */
}

#full-row {
  --bs-gutter-x: 0rem !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: -40px!important; 
}

.nav-tabs {
  border-color: #fff !important;
}

.nav-tabs:hover {
  border-color: #fff !important;
}

.nav-link {
  background-color: #fff !important;
  border-bottom: 3px solid #cecece!important;
}

.nav-link.active {
  border-bottom: 3px solid #2e5b4f !important;
  background-color: #ffffff !important;
  color: #2e5b4f !important;
}

.white-text {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.white-text-subheading {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.tab-content {
  margin-top: -17px;
}

#login-form {
  margin-top: 75px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

#signup-form {
  padding-top: 75px;
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

#uncontrolled-tab-example-tab-signup {
  color: #cecece;
  font-weight: 600;
  border: 0px;
}

#uncontrolled-tab-example-tab-login {
  color: rgb(170, 161, 161);
  font-weight: 600;
  border: 0px;
}

#uncontrolled-tab-example-tabpane-signup {
  margin-top: -17px;
}

.form-control:focus {
  border-color: #6f626c !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6f626c !important;
}

.returned-user-name {
  margin-top: 3px;
  margin-left: -15px;
}

#profile-page-subheading {
  margin-bottom: 30px;
}

#profile-page-pic {
  margin-top: 65px;
}

#profile-card :hover {
  background-color: #dee2df;
}

#profile-card {
  padding-left: 0px !important;
  text-align: center;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: #6f626c;
  border-radius: 50%;
  display: inline-block;
  margin-top: 46px;
}

.circle {
  margin-top: 46px;
  margin-bottom: 20px;
  width: 108px;
  height: 108px;
  line-height: 108px;
  border-radius: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #6f626c;
}

.circle-follow {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 108px;
  height: 108px;
  line-height: 108px;
  border-radius: 100%;
  font-size: 20px;
  color: #2e5b4f;
  text-align: center;
  background-color: #cecece;
}


.following-row {
  background: #fff;
  padding-left: 50px;
  --bs-gutter-x: 0rem !important;
}

.profile-page-card {
  background-color: transparent;
}

.profile-page-card:hover {
  background-color: transparent!important;
}

.page-subheading-follow {
  color: #ffffff
}
 .search-profile-page-card {
  text-align: center!important;
 }

 .search-returned-user {
   font-size:30px;
 }