.back-button {
  background-color: #ffffff;
  border: none;
  color: #2e5b4f;
  font-size: 20px;
}

.back-button:hover {
  background-color: #ffffff;
  border: none;
  color: #2e5b4f;
  font-size: 20px;
}

#podcast-detail-top-row {
  padding-top: 50px;
  --bs-gutter-x: 0rem;
}

.episode-row {
  --bs-gutter-x: 0rem;
}

#episode-detail-card {
  border: 0;
  padding-bottom: 30px !important;
}

/* #podcast-main-episode-list {
  padding-right: 200px !important;
} */

.card-body-podcasts {
  padding-top: 0px !important;
  padding-left: 50px !important;
}

#play-pause-button {
  margin: 90px !important;
}

.progress-bar {
  background-color: #6f626c !important;
}

#back-button {
  /* margin-bottom: 0px; */
  padding-right: 550px;
}

.back-button:focus {
  box-shadow: none !important;
}

.loading-animation {
  margin-top: 100px;
}

.back-button-episode-main-page {
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #2e5b4f;
  font-size: 17px;
  border: none;
}

.back-button-episode-main-page:hover {
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #2e5b4f;
  font-size: 17px;
  border: none;
}

.back-button-episode-main-page:focus {
  box-shadow: none !important;
}

#podcast-detail-episode-card {
  padding-top:0px;
  padding-left: 30px;
  color: #000000;
}

.podcast-detail-episode-title {
  color: #2e5b4f;
}

#podcast-main-image {
  border-radius: 20px;
}

.episode-detail-image {
  border-radius: 20px;
}

.episode-time {
  font-size: 13px;
  padding-left: 15px;
  color: #cecece
}

.header-link-item {
  /* background-color:red!important; */
  font-size: 20px!important;
  color: #2e5b4f!important;
}

.minus-button {
  text-align:right!important;
}

.plus-button {
  text-align:left!important;
}